# IDE
.idea/
*.iml

# Python cache
__pycache__/
*.pyc

# Environment
*.env
token.txt

# Database
*.db
instance/

# Chrome profiles, data, static
Day 25/new_data.csv
Day 25/states_to_learn.csv
Day 29/data.txt
Day 31/data/words_to_learn.csv
Day 49/chrome_profile/
Day 50/chrome_profile/
Day 51/chrome_profile/
Day 52/chrome_profile/
Day 57/static/css/styles.css
Day 58/project/css/style.css
Day 58/task 2/style.css
Day 59/static/css/styles.css
Day 60/static/css/styles.css
Day 62/static/css/styles.css
Day 63/instance/
Day 64/static/css/styles.css
Day 67/static/
Day 67/instance/
Day 68/static/css/styles.css
Day 69/static/css/styles.css
Day 71/static/css/styles.css
Day 88/static/ckeditor/
Day 89/instance/db.todo
Day 88/instance/posts.dbb